
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Lemonada:wght@300&display=swap');


h1 {
    font-family: Jura;
    font-size: 5vh;
    margin-left: 2vw;
}

h2{
    font-family: Lemonada;
    color:red;
    font-size: 2vh;
    margin-left: 10vw;
}

.mp-30{
    margin-top: -2%;

}